@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');







html, body{
  margin: 0px !important;
  padding: 0;
  background-color: rgb(17 24 39);
  
}

@import "tailwindcss";


@theme{
    --font-display:  "Playfair Display", serif;
    --font-secondary: "Cal Sans", sans-serif;
}

@keyframes float {
    0%, 100% {
      transform: translateY(-50%) translateY(0px);
    }
    50% {
      transform: translateY(-50%) translateY(-10px);
    }
  }

  .float-animation {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }

  html {
    scroll-behavior: smooth;
  }
  

